* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-dark {
  background-color: #757575;
}

.mt-50 {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.col-12 {
  text-align: center;
}
.card.mt-50 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.form-group {
  text-align: center;
}
.select-wrapper {
  position: relative;
}

.select-wrapper select {
  padding-right: 30px; /* Add space for the arrow icon */
}

.select-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow icon doesn't capture mouse events */
}
