<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Car Prize Prediction Model</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="card mt-50">
            <div class="card-header">
              <div class="col-12">
                <h1>Welcome to Car Price Predictor</h1>
              </div>
            </div>
            <div class="card-body">
              <form method="post" accept-charset="utf-8">
                <div class="col-18 form-group">
                  <label><b>Select Company</b></label>
                  <select
                    class="selectPicker form-control"
                    name="company"
                    id="company"
                    required="1"
                    onchange="load_car_models(this.value,'car_model')"
                  >
                    {% for company in options['companies'] %}
                    <option value="{{company}}">{{company}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Model</b></label>
                  <select
                    class="selectPicker form-control"
                    name="car_model"
                    id="car_model"
                    required="1"
                  ></select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Year of Purchase</b></label>
                  <select
                    class="selectPicker form-control"
                    name="years"
                    id="years"
                    required="1"
                  >
                    {% for year in options['years'] %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Fuel Type</b></label>
                  <select
                    class="selectPicker form-control"
                    name="fuel_type"
                    id="fuel_type"
                    required="1"
                  >
                    {% for fuel_type in options['fuel_type'] %}
                    <option value="{{fuel_type}}">{{fuel_type}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Location</b></label>
                  <select
                    class="selectPicker form-control"
                    name="location"
                    id="location"
                    required="1"
                  >
                    {% for location in options['locations'] %}
                    <option value="{{location}}">{{location}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Kilometers Driven</b></label>
                  <select
                    class="selectPicker form-control"
                    name="kilometers_driven"
                    id="kilometers_driven_select"
                    required="1"
                  >
                    {% for km in options['kilometers_driven'] %}
                    <option value="{{ km }}">{{ km }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Transmissions</b></label>
                  <select
                    class="selectPicker form-control"
                    name="transmissions"
                    id="transmissions"
                    required="1"
                  >
                    {% for transmission in options['transmissions'] %}
                    <option value="{{transmission}}">{{transmission}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Owner Type</b></label>
                  <select
                    class="selectPicker form-control"
                    name="owner_types"
                    id="owner_types"
                    required="1"
                  >
                    {% for owner_type in options['owner_types'] %}
                    <option value="{{owner_type}}">{{owner_type}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Milege</b></label>
                  <select
                    class="selectPicker form-control"
                    name="mileages"
                    id="mileages"
                    required="1"
                  >
                    {% for mileage in options['mileages'] %}
                    <option value="{{mileage}}">{{mileage}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Engine</b></label>
                  <select
                    class="selectPicker form-control"
                    name="engines"
                    id="engines"
                    required="1"
                  >
                    {% for engine in options['engines'] %}
                    <option value="{{engine}}">{{engine}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Power</b></label>
                  <select
                    class="selectPicker form-control"
                    name="powers"
                    id="powers"
                    required="1"
                  >
                    {% for power in options['powers'] %}
                    <option value="{{power}}">{{power}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-18 form-group">
                  <label for=""><b>Select Seats</b></label>
                  <select
                    class="selectPicker form-control"
                    name="seats"
                    id="seats"
                    required="1"
                  >
                    {% for seat in options['seats'] %}
                    <option value="{{seat}}">{{seat}}</option>
                    {% endfor %}
                  </select>
                </div>
                <button
                  class="btn btn-primary form-control"
                  onclick="send_data()"
                >
                  Predict Price
                </button>
              </form>
              <br />
              <div class="row">
                <div class="col-12">
                  <h3><span id="prediction"></span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
          // Retrieve the car models based on the selected company
            function load_car_models(company, car_model_id) {
              var company = company
              var car_model = document.getElementById(car_model_id);
              console.log(company);
              car_model.value = "";
              car_model.innerHTML = "";

              {% for company in options['companies'] %}
              if (company == "{{ company }}") {
                {% for model in options['car_models'] %}
                  {% if company in model %}
                    var newOption = document.createElement("option");
                    newOption.value = "{{ model }}";
                    newOption.innerHTML = "{{ model }}";
                    car_model.options.add(newOption);
                  {% endif %}
                {% endfor %}
              }
              {% endfor %}
          }
          function form_handler(event){
            event.preventDefault()
          }
          function send_data() {
        var form = document.querySelector('form');
        var inputs = form.querySelectorAll('select');

        // Check if any input is empty
        for (var i = 0; i < inputs.length; i++) {
          if (!inputs[i].value) {
            alert('Please fill in all fields before submitting.');
            return;
          }
        }

        // Suppress form default behavior
        form.addEventListener('submit', form_handler);

        // Send and receive data to /predict
        var fd = new FormData(form);
        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/predict', true);
        document.getElementById('prediction').innerHTML = 'Wait!.. Predicting Prices';

        xhr.onreadystatechange = function () {
          if (xhr.readyState == XMLHttpRequest.DONE) {
            document.getElementById('prediction').innerHTML = 'Prediction: Rs' + xhr.responseText;
          }
        };

        xhr.onload = function () {};
        xhr.send(fd);
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
